.group{
    display: flex;
    flex-direction: column;
    margin: 7vh auto;


    .input{
        width: 30vw;
        border: none;
        border-bottom: 1px solid #333;
        background: none;
        background-color: white;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
    }
}