.Header{
    display: flex;
    background-color: #fdfcfc;
    box-shadow: 1px 1px 10px 1px #cecaca;


    .logo-container{
        margin: 3vh 3vw;
    }
    .nav-item{
        list-style: none;
        text-decoration: none;
        margin: 4vh auto;
        font-size: 1.6rem;
        font-weight: 600;

        li{
            display: inline;
            margin: 0 1vw;
        }
    }
}